/* Custom Fixes for SGA-SEBANA */

/* Missing Overview Item Classes for Dashboard */
.overview-item {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}


.overview-item--c1 {
    background-image: -moz-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%) !important;
    background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%) !important;
    background-image: -ms-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%) !important;
}

.overview-item--c2 {
    background-image: -moz-linear-gradient(90deg, #11998e 0%, #38ef7d 100%) !important;
    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%) !important;
    background-image: -ms-linear-gradient(90deg, #11998e 0%, #38ef7d 100%) !important;
}

.overview-item--c3 {
    background-image: -moz-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%) !important;
    background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%) !important;
    background-image: -ms-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%) !important;
}

.overview-item--c4 {
    background-image: -moz-linear-gradient(90deg, #45b649 0%, #dce35b 100%) !important;
    background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%) !important;
    background-image: -ms-linear-gradient(90deg, #45b649 0%, #dce35b 100%) !important;
}

.overview-box .icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.overview-box .icon i {
    font-size: 60px;
    color: #fff;
}

.overview-box .text {
    display: inline-block;
    padding-top: 10px;
}

.overview-box .text h2 {
    font-weight: 300;
    color: #fff;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 5px;
}

.overview-box .text span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}